<ui-view>
    <article class="container-fluid">
        <h3 class="page-header">
            Categories
        </h3>
        <ordercloud-search servicename="Categories" controlleras="categories"></ordercloud-search>
        <div class="well well-lg text-center" ng-if="!categories.list.Items.length">
            <b ng-if="!categories.searching()">The selected buyer does not have any categories.</b>
            <b ng-if="categories.searching()"><i class="fa fa-search"></i> No categories match your search.</b>
        </div>
        <section class="table-fixed-header" ng-if="categories.list.Items.length">
            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="Categories" controlleras="categories">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <div>ID</div>
                        </th>
                        <th>
                            <div>Name</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in categories.list.Items track by $index">
                        <td>
                            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle><i class="fa fa-cog"></i> <span class="caret"></span></button>
                                <ul uib-dropdown-menu role="menu">
                                    <li role="menuitem"><a ui-sref=".edit({categoryid: category.ID})">Edit Category</a></li>
                                    <li role="menuitem"><a ui-sref=".assignParty({categoryid: category.ID})">Party Assignment</a></li>
                                    <li role="menuitem"><a ui-sref=".assignProduct({categoryid: category.ID})">Product Assignment</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{category.ID}}</td>
                        <td>{{category.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <button type="button" class="btn btn-success" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <button ui-sref=".tree" class="btn btn-default"><i class="fa fa-sitemap"></i> View Tree</button>
    </article>
</ui-view>